<!doctype html>
<html lang="en">
  <head>
    <title>{{ data.user.username }}&ensp;:&ensp;profile_page</title>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/profile_page.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <style>
    .gradient-custom-2 {
/* fallback for old browsers */
background: #7e40f6;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(126, 64, 246, 1), rgba(80, 139, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(126, 64, 246, 1), rgba(80, 139, 252, 1))
}

.mask-custom {
background: rgba(24, 24, 16, .2);
border-radius: 2em;
backdrop-filter: blur(25px);
border: 2px solid rgba(255, 255, 255, 0.05);
background-clip: padding-box;
box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
  </style>
  <body style="background: #ffd89b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#ffd89b , #19547b); 
  background: linear-gradient(to right,#ffd89b , #19547b); ">
    <div class="">
        <div class="container py-5">
          <div class="row">
            <div class="col">
              <nav aria-label="breadcrumb" class="bg-transparent rounded-3 p-3 mb-4 border border-light">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a class="text-muted" href="/">Home</a></li>
                  <!-- <li class="breadcrumb-item"><a class="text-black" href="/profile">User</a></li> -->
                  <li class="breadcrumb-item  text-muted" aria-current="page">edit profile</li>
                </ol>
              </nav>
            </div>
          </div>
      
          <div class="row">
            <div class="col-lg-4">
              <div class="card gradient-custom mb-3">
                <div class="card-body text-center">
                {% if data.image.url is not null %}
                <a href="{{ data.image.url }}">
                  <img src="{{ data.image.url }}" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 150px;">
                </a>
                {% else %}
                <a href="https://media.istockphoto.com/vectors/user-avatar-profile-icon-black-vector-illustration-vector-id1209654046?k=20&m=1209654046&s=612x612&w=0&h=Atw7VdjWG8KgyST8AXXJdmBkzn0lvgqyWod9vTb2XoE=">
                  <img src="https://media.istockphoto.com/vectors/user-avatar-profile-icon-black-vector-illustration-vector-id1209654046?k=20&m=1209654046&s=612x612&w=0&h=Atw7VdjWG8KgyST8AXXJdmBkzn0lvgqyWod9vTb2XoE=" class="rounded-circle img-fluid" style="width: 150px;">
                </a>
                {% endif %}
                  <h5 class="my-3">{{ data.user.username }}</h5>
                  <p class="text-muted mb-1">Full Stack Developer</p>
                  <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                  <div class="d-flex justify-content-center mb-2">
                    <button type="button" class="btn btn-transparent btn-outline-success">Friends: {{ total_friends }}</button>
                    <button type="button" class="btn btn-outline-light text-black ms-1">Friend request( {{ friendscount }} )</button>
                  </div>
                </div>
              </div>
              <form action="/change_about" method="post">
                {% csrf_token %}
              <div class="card mb-4 mb-lg-0 bg-transparent">
                <div class="card-body p-0">
                  <div class="row ">
                    <div class="col-md-12">
                      <h5 class="text-white text-center p-2" style="font-style: italic;"><u>About</u></h5>
                    </div>
                    <div class="col-12 text-center">
                      <textarea type="text" name="about" class="bg-transparent  text-center border-0 text-muted" 
                       style="width:80%;" >{{data.about}}</textarea>
                    </div>
                    <button class=" btn btn-success bg-transparent text-success border-0" style="right:0px;"><u>Save</u></button>
                  </div>
                </div>
              </div>
              </form>
            </div>
            
            <div class="col-lg-8">
              <div class="card mb-2 bg-transparent border-light ">
                <!-- <p>{{data.user.id}}</p> -->
                <form action="/edit_req/{{data.user.id}}" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0 text-white">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                      <div class="row ">
                        <div class="col-6">
                          <p class="text-white mb-0">{{ data.fullname }}</p>
                        </div>
                        <div class="col-6">
                          <small class="p-0 text-white" style="font-style:italic;">( Not editable )</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="text-white">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0 text-white">Frnz ID</p>
                    </div>
                    <div class="col-sm-9">
                      <input class="bg-transparent border-0" type="text" name="frnz_username" value="{{ data.user.username }}">
                      <i class="fa-solid fa-marker"></i>
                    </div>
                  </div>
                  <hr class="text-white">
                  <div class="row ">
                    <div class="col-sm-3">
                      <p class="mb-0 text-white">Gender</p>
                    </div>
                    <div class="col-sm-9">
                      <!-- <p class="text-black mb-0">{{ data.gender }}</p> -->
                      <input class="bg-transparent border-0" type="text" name="gender" value="{{ data.gender }}">
                      <i class="fa-solid fa-marker"></i>
                      <!-- <p class="bg-transparent">{{ data.gender }} &emsp; (Not changable )</p> -->
                    </div>
                  </div>
                  <hr class="text-white">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0 text-white">College</p>
                    </div>
                    <div class="col-sm-9">
                      <input class="bg-transparent border-0" type="text" name="collage" value="{{ data.collage }}">
                      <i class="fa-solid fa-marker"></i>
                    </div>
                  </div>
                  <hr class="text-white">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0 text-white">Branch</p>
                    </div>
                    <div class="col-sm-9">
                      <input class="bg-transparent border-0" type="text" name="branch" value="{{ data.branch }}">
                      <i class="fa-solid fa-marker"></i>
                    </div>
                  </div>
                  <hr class="text-white">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0 text-white">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <!-- <p class="text-muted mb-0">{{ data.email }}</p> -->
                      <input class="bg-transparent border-0" type="email" name="email" value="{{ user.email }}">
                      <i class="fa-solid fa-marker"></i>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-success text-black  border-0 btn-lg m-2 " style="background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))"> Save changes</button>
              </form>
              </div>
              {% if friendscount != 0 %}
                <div class="container py-2">
                  <div class="row d-flex justify-content-center align-items-center ">
                    <div class="col-md-12 col-xl-12">
              
                      <div class="card mask-custom">
                        <div class="card-body p-4 text-white">
              
                          <div class="text-center pt-1 pb-4">
                            <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
                              alt="Check" width="60"> -->
                              <h1 class="my-4"><pre class="text-center">Invitations</pre></h1>
                          </div>
              
                          <table class="table text-white mb-0">
                            <thead>
                              <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Time</th>
                                <th scope="col">Accept</th>
                                <th scope="col">Decline</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for i in friends_req %}
                              <tr class="fw-normal">
                                <th>
                                  <img src="/media/{{ i.sender_user.user.user_profile.image }}"
                                    alt="avatar 1" style="width: 40px; height: 50px;border-radius: 50%;">
                                  <span class="ms-2">{{ i.sender_user.user.username }}</span>
                                </th>
                                <td class="align-middle">
                                  <span>{{ i.timestamp }}</span>
                                </td>
                                <td class="align-middle">
                                  <!-- <h6 class="mb-0"><span class="badge bg-danger">High priority</span></h6> -->
                                  <a href="/acceptreq/{{ i.sender_user.id }}" data-mdb-toggle="tooltip" title="Accept"><i
                                    class="fas fa-circle-check fa-3x  text-success "></i></a>
                                </td>
                                <td class="align-middle">
                                  <a href="/declinereq/{{ i.sender_user.id }}" data-mdb-toggle="tooltip" title="Remove"><i
                                      class="fas fa-trash-alt  fa-3x text-center text-danger"></i></a>
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
              
              
                        </div>
                      </div>
              
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  </body>
</html>